<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401943609924-245m8cv81b2i7ldfasnc4b2l93s3eig1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401943609924-245m8cv81b2i7ldfasnc4b2l93s3eig1</string>
	<key>API_KEY</key>
	<string>AIzaSyDRPxdVKu3u3AwM1i2a6wKIi3k38Qn3aj0</string>
	<key>GCM_SENDER_ID</key>
	<string>401943609924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodadd</string>
	<key>PROJECT_ID</key>
	<string>foodadd-ab6b0</string>
	<key>STORAGE_BUCKET</key>
	<string>foodadd-ab6b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401943609924:ios:0a67627cce79a5125e3211</string>
</dict>
</plist>